<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Video Cropper</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="video-form-wrapper">
      <h1 class="title">Video Cropper</h1>
      <form
        class="video-form"
        action="/crop"
        method="POST"
        enctype="multipart/form-data"
      >
        <label for="hour">
          Hour:
          <input type="number" id="hour" name="hour" value="0" />
        </label>
        <label for="minutes">
          Minutes:
          <input type="number" id="minutes" name="minutes" value="0"
        /></label>
        <label for="seconds">
          Seconds:
          <input type="number" id="seconds" name="seconds" value="0" />
        </label>

        <label for="duration">
          Duration in seconds:
          <input type="number" name="duration" id="duration" required />
        </label>

        <label for="video_file">
          Video file:
          <input type="file" name="video_file" id="video_file" required />
        </label>

        <button class="submit-button" type="submit">Submit</button>
      </form>
    </section>
  </body>
</html>
